@import "../../../assets/css/variable.scss";

.profile-consultation {

    .experience {
        .form-label {
            margin-bottom: 12px;
        }
    }
    
    .modal-dialog {
        max-width: 84%;

        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            max-width: 100% !important;
        }

        .modal-content {
            border-radius: 15.385px;
            background: $white-color;

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 9;
            }

            .modal-body {
                padding-left: 20px;
                padding-right: 20px;

                h2 {
                    color: $blue-color;
                    font-size: 20px;
                    border-bottom: 1px solid $light-blue-contrast-color;
                    font-style: normal;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    font-weight: 500;
                    line-height: 23.04px;
                }

                .bg_from {

                    h3 {
                        color: $body-text-color;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        margin-bottom: 14px;
                        line-height: 23.04px;
                    }

                    form {

                        input,
                        select {
                            border-radius: 25px;
                            background-color: $background-color;
                            border: none;
                            height: 43px;
                            width: 100%;
                            padding: 6.794px 13.588px;
                        }

                        label {
                            color: $body-text-color;
                            font-family: "Anek Malayalam";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            margin-bottom: 0;
                            line-height: normal;
                        }

                        .ant-input-affix-wrapper {
                            background-color: #f2f9ff;
                            border: none;
                            border-radius: 25px;
                            padding-top: 0;
                            height: 43px;

                            .ant-input {
                                background-color: transparent;
                                border-radius: 0;
                                padding: 0;
                            }
                        }

                        .MuiFormGroup-root {
                            display: flex;
                            border-radius: 23.178px;
                            border: 0.927px solid $background-color;
                            background: $background-color;
                            flex-direction: row;
                            gap: 20px;
                            padding: 0 20px;

                            @media (max-width: 767px) {
                                padding: 0 14px;
                            }

                            .MuiFormControlLabel-root {
                                margin-bottom: 0;
                            }

                            .MuiTypography-root {
                                color: $body-text-color;
                                font-family: "Anek Malayalam";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                @media (max-width: 767px) {
                                    font-size: 14px;
                                }
                            }
                        }

                        h4 {
                            color: $blue-color;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                        }

                        .passCri {
                            color: $blue-color;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                        }

                        .ant-checkbox-wrapper {
                            .ant-checkbox-input {
                                height: auto;
                                border: 1px solid $light-blue-contrast-color;
                            }

                            .ant-checkbox-inner {
                                width: 22px;
                                border-radius: 50%;
                                height: 22px;
                            }
                        }
                    }

                    .platform_fee {
                        color: $black-color;
                        font-size: 10px;
                        font-style: normal;
                        margin-top: 9px;
                        font-weight: 300;
                        margin-bottom: 0;
                        line-height: normal;

                        .anticon {
                            color: $blue-color;
                            font-size: 12px;
                            margin-right: 6px;
                        }
                    }
                }

                .scheduleInPerson {
                    border-left: 1px solid $light-blue-contrast-color;
                    @media (max-width: 767px) {
                        border-left: none;
                        padding: 0;
                    }

                    ul {
                        li {
                            padding-bottom: 10px;
                            margin-bottom: 15px;
                            justify-content: space-between;
                            border-bottom: 1px solid $light-blue-contrast-color;

                            .days {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                            .timing {
                                text-align: right;

                                .timing-inputs {
                                    display: flex;
                                    text-align: left;
                                    align-items: center;
                                    margin-top: 10px;
                                    justify-content: space-between;

                                    label {
                                        color: $body-text-color;
                                        font-family: "Anek Malayalam";
                                        font-size: 12px;
                                        font-style: normal;
                                        font-weight: 600;
                                        margin-bottom: 10px;
                                        line-height: normal;
                                    }

                                    input {
                                        border-radius: 100px;
                                        background: $background-color;
                                        border: none;
                                        padding: 12px;
                                        width: 100%;
                                    }
                                }

                                button {
                                    margin-top: 10px;
                                    margin-left: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }

                .form_btn2 {
                    border-top: 1px solid #e2eaf0;
                    margin: 0;
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: end;

                    button {
                        padding: 0;
                        width: 122px;
                        height: 40px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}