.searchResults {
    width: 100%;
    height: 211px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 0.5px solid #D3DEE9;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 40, 85, 0.20);
    position: absolute;
    top: 100%;
    left: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-top: 0.2px solid rgba(0, 0, 0, 0.50);
    z-index: 99;
    padding-left: 25px;
    padding-top: 12px;

    .list_serach {
        height: 140px;
        overflow-y: scroll;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .singeResult {
        width: 100%;
        padding: 12px;
        display: flex;
        align-items: center;

        span {
            color: #313131;
            font-family: "Anek Malayalam";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 19.2px;
            /* 137.143% */

        }

    }

    .allSearchResults {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        border-top: 0.2px solid rgba(0, 0, 0, 0.50);

        padding: 12px 0px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 25px;

        .arrow {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M14.7583 14.0731L11.925 11.248C12.8392 10.0834 13.3352 8.64526 13.3333 7.16472C13.3333 5.84617 12.9423 4.55724 12.2098 3.46091C11.4773 2.36459 10.4361 1.5101 9.21789 1.00552C7.99972 0.500935 6.65927 0.368913 5.36607 0.626148C4.07286 0.883383 2.88497 1.51832 1.95262 2.45067C1.02027 3.38302 0.385336 4.57091 0.128101 5.86411C-0.129134 7.15732 0.00288854 8.49777 0.507473 9.71594C1.01206 10.9341 1.86654 11.9753 2.96287 12.7078C4.0592 13.4404 5.34813 13.8314 6.66667 13.8314C8.14722 13.8332 9.58538 13.3372 10.75 12.423L13.575 15.2564C13.6525 15.3345 13.7446 15.3965 13.8462 15.4388C13.9477 15.4811 14.0567 15.5029 14.1667 15.5029C14.2767 15.5029 14.3856 15.4811 14.4872 15.4388C14.5887 15.3965 14.6809 15.3345 14.7583 15.2564C14.8364 15.1789 14.8984 15.0867 14.9407 14.9852C14.9831 14.8836 15.0048 14.7747 15.0048 14.6647C15.0048 14.5547 14.9831 14.4458 14.9407 14.3442C14.8984 14.2427 14.8364 14.1505 14.7583 14.0731ZM1.66667 7.16472C1.66667 6.17581 1.95991 5.20911 2.50932 4.38687C3.05873 3.56462 3.83962 2.92376 4.75325 2.54532C5.66688 2.16688 6.67222 2.06786 7.64212 2.26079C8.61203 2.45372 9.50294 2.92992 10.2022 3.62918C10.9015 4.32845 11.3777 5.21936 11.5706 6.18927C11.7635 7.15917 11.6645 8.1645 11.2861 9.07813C10.9076 9.99176 10.2668 10.7727 9.44452 11.3221C8.62228 11.8715 7.65558 12.1647 6.66667 12.1647C5.34059 12.1647 4.06882 11.6379 3.13114 10.7003C2.19345 9.76257 1.66667 8.4908 1.66667 7.16472Z' fill='%23313131'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
            width: 15.005px;
            height: 15.005px;
        }

        span {
            color: #313131;
            font-family: "Anek Malayalam";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px;
            /* 137.143% */
        }
    }

}


.noRes {
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: center;
    height: 130px;
    justify-content: center;
}