@import "../../../assets/css/variable.scss";

.viewOnlineInvoiceModal {
    width: 100%;
    height: 100%;
    z-index: 9999999 !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    ul {
        margin: 0;
        padding: 0;
    }

    .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        margin: 0;
    }

    .modal-content {
        width: 100%;
        height: 100vh;
        border-radius: 0px !important;
        overflow-y: scroll;
        padding: 0;
        border: 0px !important;
        overflow: hidden;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .modal-body {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #F2F9FF;
        padding: 0;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: #cacaca;
            display: none;
        }

        .heading {
            display: flex;
            align-items: center;
            position: relative;
            padding: 10px !important;
            background-color: #FFF;

            h4 {
                color: #0F75BC;
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: 0;
                margin-left: 10px !important;
            }

            p {
                color: #0F75BC;
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: 0;
                margin-left: 10px !important;
            }

            .deleteIcon {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M11.9098 3.56256C12.0664 3.56256 12.2165 3.62182 12.3272 3.72731C12.4379 3.8328 12.5001 3.97588 12.5001 4.12506C12.5001 4.27425 12.4379 4.41732 12.3272 4.52281C12.2165 4.6283 12.0664 4.68756 11.9098 4.68756H11.3196L11.3178 4.7275L10.7671 12.0799C10.7459 12.3638 10.6126 12.6294 10.3941 12.8233C10.1756 13.0172 9.88806 13.1251 9.58946 13.1251H4.78519C4.48659 13.1251 4.19909 13.0172 3.98058 12.8233C3.76207 12.6294 3.62879 12.3638 3.60759 12.0799L3.05686 4.72806C3.05596 4.71458 3.05557 4.70107 3.05568 4.68756H2.4654C2.30885 4.68756 2.15871 4.6283 2.04801 4.52281C1.93731 4.41732 1.87512 4.27425 1.87512 4.12506C1.87512 3.97588 1.93731 3.8328 2.04801 3.72731C2.15871 3.62182 2.30885 3.56256 2.4654 3.56256H11.9098ZM10.1372 4.68756H4.238L4.78578 12.0001H9.58946L10.1372 4.68756ZM8.36818 1.87506C8.52473 1.87506 8.67487 1.93432 8.78557 2.03981C8.89627 2.1453 8.95846 2.28838 8.95846 2.43756C8.95846 2.58675 8.89627 2.72982 8.78557 2.83531C8.67487 2.9408 8.52473 3.00006 8.36818 3.00006H6.00707C5.85052 3.00006 5.70038 2.9408 5.58968 2.83531C5.47898 2.72982 5.41679 2.58675 5.41679 2.43756C5.41679 2.28838 5.47898 2.1453 5.58968 2.03981C5.70038 1.93432 5.85052 1.87506 6.00707 1.87506H8.36818Z' fill='%23FC5C5C'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: block;
                width: 33px;
                height: 32px;
                position: absolute;
                top: 0;
                right: 12px;
                bottom: 0;
                margin: auto;
            }
        }

        .bg__white_card {
            width: 96%;
            height: 590px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FFF;
            margin: auto;
            margin-top: 20px !important;
            padding: 13px;

            .calenderIcoo {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.16667 18.3333C3.70833 18.3333 3.31597 18.1701 2.98958 17.8437C2.66319 17.5174 2.5 17.125 2.5 16.6667V4.99999C2.5 4.54166 2.66319 4.1493 2.98958 3.82291C3.31597 3.49652 3.70833 3.33332 4.16667 3.33332H5V1.66666H6.66667V3.33332H13.3333V1.66666H15V3.33332H15.8333C16.2917 3.33332 16.684 3.49652 17.0104 3.82291C17.3368 4.1493 17.5 4.54166 17.5 4.99999V16.6667C17.5 17.125 17.3368 17.5174 17.0104 17.8437C16.684 18.1701 16.2917 18.3333 15.8333 18.3333H4.16667ZM4.16667 16.6667H15.8333V8.33332H4.16667V16.6667ZM4.16667 6.66666H15.8333V4.99999H4.16667V6.66666ZM10 11.6667C9.76389 11.6667 9.56597 11.5868 9.40625 11.4271C9.24653 11.2674 9.16667 11.0694 9.16667 10.8333C9.16667 10.5972 9.24653 10.3993 9.40625 10.2396C9.56597 10.0799 9.76389 9.99999 10 9.99999C10.2361 9.99999 10.434 10.0799 10.5938 10.2396C10.7535 10.3993 10.8333 10.5972 10.8333 10.8333C10.8333 11.0694 10.7535 11.2674 10.5938 11.4271C10.434 11.5868 10.2361 11.6667 10 11.6667ZM6.66667 11.6667C6.43056 11.6667 6.23264 11.5868 6.07292 11.4271C5.91319 11.2674 5.83333 11.0694 5.83333 10.8333C5.83333 10.5972 5.91319 10.3993 6.07292 10.2396C6.23264 10.0799 6.43056 9.99999 6.66667 9.99999C6.90278 9.99999 7.10069 10.0799 7.26042 10.2396C7.42014 10.3993 7.5 10.5972 7.5 10.8333C7.5 11.0694 7.42014 11.2674 7.26042 11.4271C7.10069 11.5868 6.90278 11.6667 6.66667 11.6667ZM13.3333 11.6667C13.0972 11.6667 12.8993 11.5868 12.7396 11.4271C12.5799 11.2674 12.5 11.0694 12.5 10.8333C12.5 10.5972 12.5799 10.3993 12.7396 10.2396C12.8993 10.0799 13.0972 9.99999 13.3333 9.99999C13.5694 9.99999 13.7674 10.0799 13.9271 10.2396C14.0868 10.3993 14.1667 10.5972 14.1667 10.8333C14.1667 11.0694 14.0868 11.2674 13.9271 11.4271C13.7674 11.5868 13.5694 11.6667 13.3333 11.6667ZM10 15C9.76389 15 9.56597 14.9201 9.40625 14.7604C9.24653 14.6007 9.16667 14.4028 9.16667 14.1667C9.16667 13.9305 9.24653 13.7326 9.40625 13.5729C9.56597 13.4132 9.76389 13.3333 10 13.3333C10.2361 13.3333 10.434 13.4132 10.5938 13.5729C10.7535 13.7326 10.8333 13.9305 10.8333 14.1667C10.8333 14.4028 10.7535 14.6007 10.5938 14.7604C10.434 14.9201 10.2361 15 10 15ZM6.66667 15C6.43056 15 6.23264 14.9201 6.07292 14.7604C5.91319 14.6007 5.83333 14.4028 5.83333 14.1667C5.83333 13.9305 5.91319 13.7326 6.07292 13.5729C6.23264 13.4132 6.43056 13.3333 6.66667 13.3333C6.90278 13.3333 7.10069 13.4132 7.26042 13.5729C7.42014 13.7326 7.5 13.9305 7.5 14.1667C7.5 14.4028 7.42014 14.6007 7.26042 14.7604C7.10069 14.9201 6.90278 15 6.66667 15ZM13.3333 15C13.0972 15 12.8993 14.9201 12.7396 14.7604C12.5799 14.6007 12.5 14.4028 12.5 14.1667C12.5 13.9305 12.5799 13.7326 12.7396 13.5729C12.8993 13.4132 13.0972 13.3333 13.3333 13.3333C13.5694 13.3333 13.7674 13.4132 13.9271 13.5729C14.0868 13.7326 14.1667 13.9305 14.1667 14.1667C14.1667 14.4028 14.0868 14.6007 13.9271 14.7604C13.7674 14.9201 13.5694 15 13.3333 15Z' fill='%23313131'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: block;
                width: 20px;
                height: 20px;
            }

            .timeIcoo {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M12.7474 13.9165L13.9141 12.7498L10.8307 9.6665V5.83317H9.16406V10.3332L12.7474 13.9165ZM9.9974 18.3332C8.84462 18.3332 7.76129 18.1144 6.7474 17.6769C5.73351 17.2394 4.85156 16.6457 4.10156 15.8957C3.35156 15.1457 2.75781 14.2637 2.32031 13.2498C1.88281 12.2359 1.66406 11.1526 1.66406 9.99984C1.66406 8.84706 1.88281 7.76373 2.32031 6.74984C2.75781 5.73595 3.35156 4.854 4.10156 4.104C4.85156 3.354 5.73351 2.76025 6.7474 2.32275C7.76129 1.88525 8.84462 1.6665 9.9974 1.6665C11.1502 1.6665 12.2335 1.88525 13.2474 2.32275C14.2613 2.76025 15.1432 3.354 15.8932 4.104C16.6432 4.854 17.237 5.73595 17.6745 6.74984C18.112 7.76373 18.3307 8.84706 18.3307 9.99984C18.3307 11.1526 18.112 12.2359 17.6745 13.2498C17.237 14.2637 16.6432 15.1457 15.8932 15.8957C15.1432 16.6457 14.2613 17.2394 13.2474 17.6769C12.2335 18.1144 11.1502 18.3332 9.9974 18.3332ZM9.9974 16.6665C11.8446 16.6665 13.4175 16.0172 14.7161 14.7186C16.0148 13.42 16.6641 11.8471 16.6641 9.99984C16.6641 8.15262 16.0148 6.5797 14.7161 5.28109C13.4175 3.98248 11.8446 3.33317 9.9974 3.33317C8.15017 3.33317 6.57726 3.98248 5.27865 5.28109C3.98004 6.5797 3.33073 8.15262 3.33073 9.99984C3.33073 11.8471 3.98004 13.42 5.27865 14.7186C6.57726 16.0172 8.15017 16.6665 9.9974 16.6665Z' fill='%23313131'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: block;
                width: 20px;
                height: 20px;
            }

            .date {
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0px;
            }

            .doctorName {
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .consultPa {
                color: #6D747D;
                font-family: "Anek Malayalam";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;

            }

            .ant-divider {
                margin-top: 10px;
                margin-bottom: 12px !important;
            }

            .amountReceived {
                display: flex;
                padding: 10px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                background-color: #0F75BC;
                border-radius: 10px;
                background: #F0F8FF;

                h4 {
                    color: #0F75BC;
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    /* 137.5% */
                    margin: 0;
                }

                h5 {
                    color: #0F75BC;
                    text-align: right;
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    /* 137.5% */
                    margin: 0;
                }
            }


            .cashPa {
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }



            .total {
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin: 0;
            }

            .pricc {
                color: #313131;
                text-align: right;
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                /* 137.5% */
            }

            .wrape_logo {
                display: flex;
                width: 101px;
                height: 25px;
                padding: 6px 5px;
                justify-content: center;
                align-items: center;
                gap: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0F75BC;
                text-align: center;
                font-family: "Anek Malayalam";
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 4px;
                border: 1px solid rgba(238, 238, 238, 0.60);
                background: rgba(238, 238, 238, 0.60);

                &.wrape_pce {
                    background-color: #CFE3F2;
                    color: #0F75BC;
                    text-align: center;
                    font-family: "Anek Malayalam";
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                }

                .meriSehatLogo {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M6.99074 1.6674C5.50871 0.185371 3.1027 0.185371 1.61152 1.6674C0.129493 3.14943 0.129493 5.56459 1.61152 7.04662L4.30113 9.73622L6.99074 7.04662C8.47277 5.56459 8.47277 3.15858 6.99074 1.6674Z' fill='%23F5D500'/%3E%3Cpath d='M12.3884 1.66755C10.9064 0.185523 8.5004 0.185523 7.00923 1.66755C5.5272 3.14958 5.5272 5.56474 7.00923 7.04677L9.69884 9.73637L12.3884 7.04677C13.8705 5.56474 13.8705 3.15873 12.3884 1.66755Z' fill='%237CBB4B'/%3E%3Cpath d='M9.69948 4.37532C8.21745 2.89329 5.81144 2.89329 4.32026 4.37532C2.83823 5.85734 2.83823 8.26335 4.32026 9.75453L7.00987 12.4441L9.69948 9.75453C11.1815 8.2725 11.1815 5.86649 9.69948 4.37532Z' fill='%2319ADAF'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    display: block;
                    width: 13px;
                    height: 11.888px;
                }
            }

            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        content: "•";
                        display: block;
                        position: absolute;
                        left: 0;
                        font-size: 29px !important;
                        top: -9px;
                        bottom: 0;
                        margin: auto;
                    }

                    &:first-child {
                        padding-left: 0px !important;
                        padding-bottom: 5px;

                        &::before {
                            display: none;

                        }
                    }

                    &:first-child {
                        list-style-type: none !important;
                    }

                    span {}
                }
            }

            .wrape__btnn {
                width: 100%;
                height: 85px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 14px 14px 0px 0px;
                background: #FFF;

                box-shadow: 0px -8px 20px 0px rgba(0, 40, 85, 0.06);
                position: fixed;
                bottom: 0;
                left: 0;
            }

            .printBttn {
                width: 90%;
                margin: auto;
                height: 40px;
                padding: 5.27px 0px;
                justify-content: center;
                align-items: center;
                gap: 6.588px;
                flex-shrink: 0;
                color: #FFF;
                text-align: center;
                font-family: "Anek Malayalam";
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                border-radius: 19.764px;
                background: #0F75BC;

                box-shadow: 0px 2.635px 13.176px 0px rgba(15, 117, 188, 0.30);
            }
        }
    }
}