$AnekMalayalam-Light : 'anekMalayalam-light';
$AnekMalayalam-LightItalic : 'anekMalayalam';
$AnekMalayalam-Regular : 'anekMalayalam';
$AnekMalayalam-Medium : 'anekMalayalam';
$AnekMalayalam-Bold : 'anekMalayalam';
$AnekMalayalam-Black : 'anekMalayalam';
$AnekBangla-Regular : 'anekBangla-regular';
$AnekBangla-Medium : 'anekBangla-medium';

$body-text-color: #313131;
$white-color: #ffffff;

$blue-color: var(--primary-color);
// $blue-color: #0F75BC;
$black4-color: #5E6366;
$error-color: #dc3545;
$background-color: #f2f9ff;
$grey-text-color: #a3a3a3;
$grey-bg-color: rgb(187, 187, 187);
$green-color: #95999E;
$pink-color: #fc559e;
$purple-color: #506de2;
$lightgray-shade-color: #404040;
$yellow-color: #E1DFDF;
$light-blue-contrast-color: #e2eaf0;
$blue-btn-color: #d6edfe;
$green-btn-color: #eafee0;
$grey-color: #656d78;
$dark-grey-color: #474254;
$dark-color: #45464E;
$light-yellow-color: #feedc4;
$light-gray-color: #D9D9D9;
$light-pink-color: #F6F8FA;
$light-purple-color: #dee5fe;
$light-dropdown-background: #eaf3fa;
$separator-color: #ccc;
$grey-background-color: #212121;
$border-bottom-color: #f2f2f2;
$red-color: #fc5c5c;
$black-color: #000;
$red-light-color: #ffdbdb;
$dark-green-color: #D3DEE9;
$dark-pink-color: #F058A1;
$dark-gold-color: #8799AC;
$dark-purple-color: #9050E2;
$light-grey-color: #8F8F8F;