@import '../../assets/css/variable.scss';

.settings {
    .setting-wrap {
        width: 100%;
        min-height: 100vh;
        box-shadow: 0px 8px 20px 0px #00285514;
        background-color: white;
        border-radius: 15px;
        position: relative;

        @media (min-width : 0px) and (max-width : 768px) {
            border-radius: 10px;
            background-color: #fff0;
            box-shadow: initial;
        }

        .ant-tabs-top {

            .ant-tabs-nav-wrap {
                .ant-tabs-nav-list {
                    @media(min-width:0) and (max-width:767px) {
                        flex-wrap: wrap;
                    }

                    .ant-tabs-tab {
                        padding: 12px 21px;
                        margin: 0;


                        @media(min-width:0) and (max-width:767px) {
                            width: 100%;
                            margin-bottom: 12px;
                            border-radius: 8px;
                            background: #F6F6F6;
                            padding-left: 28px;
                            border-bottom: 0px solid !important;
                            color: #474254 !important;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            box-shadow: 4px 10px 20.4px 0px rgba(0, 0, 0, 0.09);
                            background-color: #FFF;
                            height: 49px;
                            color: #313131;
                            font-family: "Anek Malayalam";
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: capitalize;
                        }

                        @media(min-width:0) and (max-width:767px) {}

                        .ant-tabs-tab-btn {
                            color: #95999E;
                            font-family: "Anek Malayalam";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20.642px;

                            @media (min-width : 0px) and (max-width : 768px) {
                                color: #313131;
                                font-family: "Anek Malayalam";
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .ant-tabs-tab-active {
                        .ant-tabs-tab-btn {
                            color: $blue-color;
                            font-weight: 600;

                            @media(min-width:0) and (max-width:767px) {
                                color: #95999E;
                                font-weight: 400;

                            }


                        }
                    }
                }
            }
        }

        .ant-tabs-tabpane-active {
            @media(min-width:0) and (max-width:767px) {
                position: fixed;
                top: 0;
                left: 0;
                background: #fff;
                z-index: 999;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
            }

            .headerTabs {
                @media(min-width:0) and (max-width:767px) {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                    padding-left: 20px;
                    color: #0F75BC;
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    background: #FFF;
                    box-shadow: 0px 3.84px 18.336px 0px rgba(0, 0, 0, 0.06);

                }

            }

        }
    }
}


:where(.css-dev-only-do-not-override-cdzvx5).ant-tabs .ant-tabs-ink-bar {
    background: initial;
    box-shadow: 0px -3.096px 0px 0px $blue-color inset;
}

.setting-wrap .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background: initial;
    box-shadow: 0px -3.096px 0px 0px $blue-color inset;
    height: 3px !important;
}

.settings .setting-wrap .ant-tabs-top .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    @media (min-width : 0px) and (max-width : 768px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51' height='56' viewBox='0 0 51 56' fill='none'%3E%3Cg filter='url(%23filter0_d_8328_30096)'%3E%3Cpath d='M18.332 11.6344L24.7487 18.0511L18.332 24.4678' stroke='%23474254' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_8328_30096' x='-5.4' y='-3.34727' width='62.8' height='62.8' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='4' dy='10'/%3E%3CfeGaussianBlur stdDeviation='10.2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_8328_30096'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_8328_30096' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: bottom right;
        object-position: center;
        background-size: 31px;
    }
}