@import "../../../assets//css/variable.scss";

.modalExpenseCateogory {
    z-index: 9999999 !important;
    width: 100%;
    height: 100%;


    .modal-dialog {
        width: 100%;
        max-width: 528px;
    }

    .modal-content {
        width: 528px;
        height: 346px;
        border-radius: 15px;
        background: #FFF;
    }

    .modal-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: #0F75BC;
        font-family: "Anek Malayalam";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 12px;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .single {
        width: 100%;
        position: relative;

        p.error_category {
            color: #dd0909;
            position: absolute;
            top: 80px;
            font-size: 12px;
            left: 3px;
        }

        label {
            color: #313131;
            font-family: "Anek Malayalam";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        input {
            width: 100%;
            color: #8799AC;
            font-family: "Anek Malayalam";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            &::placeholder {
                color: #8799AC;
                font-family: "Anek Malayalam";
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }


    .customCheck {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 34px;

        label {
            color: #313131;
            font-family: "Anek Malayalam";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        input {
            width: 40px;
            height: 20px;
        }
    }

    .customCheck .form-switch input:checked {
        background-color: #84D95B !important;
        border: none;
    }

    .wraper_btns {
        display: flex;
        width: 100%;
        margin-top: 34px;
        justify-content: center;
        align-items: center;
        gap: 24px;

        button {
            width: 228px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;

            @media(min-width: 0px) and (max-width : 768px) {
                width: 132px !important;
                font-size: 15px;

                height: 40px !important;
            }

            &:nth-child(1) {
                color: $blue-color;
                border: 1px solid $blue-color;
                background-color: $white-color;
            }

            &:nth-child(2) {
                color: $white-color;
                background-color: $blue-color;
            }
        }
    }
}