@import "../../../assets/css/variable.scss";

.upload_image_view {
    z-index: 9999999 !important;

    @media (max-width: 767px) {
        padding-left: 0 !important;
    }

    .modal-dialog {
        max-width: 600px;

        .modal-content {
            border-radius: 15.385px;
            background: $white-color;

            @media (max-width: 767px) {
                background-color: $background-color;
                border: none;
                border-radius: 0;
            }

            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 9;
            }

            .modal-body {
                padding: 30px;

            }
        }
    }
}