@import "../../../assets/css/variable.scss";

.medication_tab.medication_Offline {
    min-height: 616px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
}

.medication_tab {
    padding: 0px 20px;
    user-select: none;

    h3 {
        color: $blue-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.04px;
        border-bottom: 1px solid #8E96A0;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .form-select,
    .form-control {
        border-radius: 25px;
        height: 40px !important;
        background-color: $background-color !important;
        border: none;
        color: $black4-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .form-control {
        height: 40px !important;
    }

    .form-check-label {
        color: $black4-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .form-check-inline {
        position: relative;

        .form-check-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            position: relative;
            border-radius: 50%;
            border: 0px solid #e2eaf0;
            z-index: 99;
            overflow: hidden;
        }

        .form-check-input:checked[type=radio]:before {
            width: 11px !important;
            height: 11px !important;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 4.2px;
            right: 0;
            margin: auto;
            background-color: var(--primary-color);
            overflow: hidden;
            content: '';
        }
    }

    .medicineBox {
        .form-select {
            width: 118px;
            padding-right: 10px;
        }
    }

    .form-label {
        color: $body-text-color;
        width: 100%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal
    }

    .button1 {
        padding: 10px 44px;
        color: #0F75BC;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%
    }

    .ant-divider {
        margin: 20px 0;
    }

    .medicineOffline {
        border-radius: 14px;
        border: 0.5px solid #D3DEE9;
        position: relative;
        background: #FFF;
        box-shadow: 0px 8px 20px 0px rgba(0, 40, 85, 0.06);

        .search__bar {
            position: absolute;
            top: -39px;
            right: 17px;

            input {
                border-radius: 25px;
                width: 279px;
                padding: 6px 13px;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                background: #F2F9FF;
            }
        }

        .ant-tabs-nav {
            display: block;

            .ant-tabs-nav-wrap {
                display: block;

                .ant-tabs-tab {
                    width: auto;
                    padding: 12px;
                    justify-content: center;
                    margin-left: 0;
                }
            }
        }

        .ant-tabs-content {
            padding: 10px 17px;

            .list {
                display: flex;
                flex-wrap: wrap;
                height: 85px;
                overflow-y: scroll;

                li {
                    width: 33%;
                    margin: 10px 0;

                    span {
                        width: 4px;
                        height: 4px;
                        background-color: #000;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .wrape_indication {
        height: 278px;
        margin-bottom: 20px;

        .table__wrape.tableConsultSub {
            height: 100%;

            td {
                padding: 12px;

                button {
                    span {
                        width: 16px;
                        height: 16px;
                        color: $blue-color;
                    }
                }

                .delete {
                    span {
                        color: $red-color;
                    }
                }
            }
        }
    }
}

.row_rwp {
    overflow-y: scroll;
    height: 80%;
    padding-bottom: 20px;

    button {
        display: flex;
        justify-content: center !important;
        align-items: center;
        text-align: center;

    }
}