@import "../../../assets/css/variable.scss";

.medicalHistoryMobile {
    z-index: 9999999 !important;

    @media (max-width: 767px) {
        padding-left: 0 !important;
    }

    .modal-dialog {
        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            max-width: 100% !important;
        }

        .modal-content {
            border-radius: 15.385px;
            background: $white-color;

            @media (max-width: 767px) {
                background-color: #f2f9ff;
                border: none;
                border-radius: 0 !important;
                height: 100%;
            }

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 9;
            }

            .modal-body {
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 767px) {
                    padding: 0;
                }

                h3 {
                    color: $blue-color;
                    font-size: 20px;
                    border-bottom: 1px solid $light-blue-contrast-color;
                    font-style: normal;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    font-weight: 500;
                    line-height: 23.04px;

                    img {
                        display: none;
                    }

                    @media (max-width: 767px) {
                        padding-top: 21px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 16px;
                        align-items: center;
                        background-color: white;
                        box-shadow: 0px 3.998px 19.088px 0px rgba(0, 0, 0, 0.06);
                        border-bottom: none;
                        display: flex;

                        img {
                            display: block;
                            width: 18px;
                            height: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                .box {
                    margin: 0 20px;

                    .accordion-item {
                        border-radius: 7.734px;
                        background: #FFF;
                        margin-bottom: 10px;

                        .accordion-button.collapsed {
                            border-bottom: none;
                            box-shadow: none;
                            background-color: transparent;
                        }

                        .accordion-button,
                        .accordion-collapse {
                            background: #F6F6F6;
                            border-bottom: none;
                            box-shadow: none;
                        }

                        .accordion-body {
                            padding-top: 0;

                            .card {
                                background-color: #E1EDF6;
                                margin-bottom: 0;
                                display: block;
                                border-bottom: 1px solid #FFF !important;
                                padding: 13px 10px;
                                border-radius: 0 !important;

                                span {
                                    border-radius: 4px;
                                    padding: 0 5px;
                                    font-size: 12px;
                                    background: #FFF;
                                }

                                p {
                                    margin-bottom: 0;
                                    font-size: 14px;
                                    margin-top: 5px;
                                    font-style: normal;
                                    font-weight: 400;
                                    color: #474254;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}