.reportVitalsTab {
    width: 100%;

    .bgMobile {
        @media(min-width:0) and (max-width:767px) {
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            margin: 15px 10px 0;
        }


        @media(min-width:0) and (max-width:767px) {
            background: #fff;
            border-radius: 10px;
            padding: 12px 10px !important;
        }

        .mob {
            display: flex;
            flex-wrap: nowrap;
            gap: 0px !important;
            align-items: center;

            margin-bottom: 10px;

            .search__bar {
                width: 100%;
                height: 36px;
                padding: 6px 10px 6px 8px;
                align-items: center;
                border-radius: 23.25px;
                background: #F2F9FF;
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;



                input {
                    padding-left: 4px;
                    background-color: transparent;


                    &::placeholder {
                        color: #313131;

                    }
                }
            }

            .btnDownMobile {
                width: 100%;
                height: 36px;
                padding: 12px 10px;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border-radius: 100px;
                border: 1px solid #0F75BC;
                color: #0F75BC;
                text-align: center;
                font-family: "Anek Malayalam";
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                display: flex;

            }
        }





        .reportAccordianMobile {
            width: 100%;
            margin: auto;
            padding: 20px 0px;

            @media(min-width:0) and (max-width:767px) {
                padding: 0px 0px;

            }

            .accordion-item {
                width: 97%;
                min-height: 113px;
                flex-shrink: 0;
                border-radius: 7.665px;
                background: #FFF;
                margin: auto;
                box-shadow: 4px 10px 20.4px 0px rgba(0, 0, 0, 0.09);
                overflow: hidden;

                @media(min-width:0) and (max-width:767px) {
                    width: 100%;


                }
            }

            .accordion-button {
                background-color: transparent !important;
                box-shadow: initial !important
            }

            .accordion-button::after {
                position: absolute;
                top: 22px;
                right: 12px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.1355 6.08374L7.66442 10.5548L3.19336 6.08374' stroke='%23313131' stroke-width='1.91617' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
                width: 15.329px;
                height: 15.329px;
                background-size: cover;
                background-position: center;
            }

            .accordion-item {
                margin-bottom: 18px;

                .ant-divider {
                    margin-bottom: 10px !important;
                }

                .accordion-body {
                    padding-top: 0 !important;
                }
            }

            .accordHeader {

                h5 {
                    color: #313131;
                    font-family: "Anek Malayalam";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                h6 {
                    color: #313131;
                    font-family: "Anek Malayalam";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .keyMain {
                    color: #0F75BC;
                    font-family: "Anek Malayalam";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .keyMainBd {
                    color: #313131;
                    font-family: "Anek Malayalam";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .priceTag {
                    display: flex;
                    min-width: 41px;
                    height: 19px;
                    padding: 5.749px 4.79px;
                    justify-content: center;
                    align-items: center;
                    gap: 9.581px;
                    color: #313131;
                    font-family: "Anek Malayalam";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    border-radius: 3.832px;
                    background: #F8E9C5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 22px;
                }
            }

            .servicesTotal {
                width: 100%;

                .vitalName {
                    color: #959494 !important;
                    font-family: "Anek Malayalam";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .vitalsHeading {
                        color: #0F8BE1 !important;
                        margin-bottom: 9px;
                    }

                    .keyTitle {
                        color: #313131;
                        font-family: "Anek Malayalam";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .keyBody {
                        color: #313131;
                        font-family: "Anek Malayalam";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

    }

    .top-bar-filter {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 24px;
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 14px;
        padding-top: 14px;

        span {
            white-space: nowrap;
        }

        .single_field,
        .custom_date_report {
            width: 165px !important;
        }



        .filterTitle {
            color: var(--Black-60, #45464E);
            font-family: "Anek Malayalam";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .custom_date_report {
            width: 165px;
            height: 44.594px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14.865px;
            flex-shrink: 0;
            border-radius: 23.04px;
            background: #F2F9FF;
            position: relative;

            .ant-picker {
                width: 100%;
                height: 100%;
                border-radius: 23.25px;
                background: #F2F9FF;
                color: var(--Black-60, #45464E);
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;
                cursor: pointer;

                .ant-picker-suffix {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M5.01436 22.294C4.46427 22.294 3.99336 22.0981 3.60163 21.7064C3.2099 21.3147 3.01404 20.8438 3.01404 20.2937V6.29141C3.01404 5.74133 3.2099 5.27042 3.60163 4.87869C3.99336 4.48696 4.46427 4.29109 5.01436 4.29109H6.01452V2.29077H8.01484V4.29109H16.0161V2.29077H18.0164V4.29109H19.0166C19.5667 4.29109 20.0376 4.48696 20.4293 4.87869C20.8211 5.27042 21.0169 5.74133 21.0169 6.29141V20.2937C21.0169 20.8438 20.8211 21.3147 20.4293 21.7064C20.0376 22.0981 19.5667 22.294 19.0166 22.294H5.01436ZM5.01436 20.2937H19.0166V10.2921H5.01436V20.2937ZM5.01436 8.29173H19.0166V6.29141H5.01436V8.29173ZM12.0155 14.2927C11.7321 14.2927 11.4946 14.1968 11.3029 14.0052C11.1112 13.8135 11.0153 13.5759 11.0153 13.2925C11.0153 13.0092 11.1112 12.7716 11.3029 12.5799C11.4946 12.3882 11.7321 12.2924 12.0155 12.2924C12.2989 12.2924 12.5364 12.3882 12.7281 12.5799C12.9198 12.7716 13.0156 13.0092 13.0156 13.2925C13.0156 13.5759 12.9198 13.8135 12.7281 14.0052C12.5364 14.1968 12.2989 14.2927 12.0155 14.2927ZM8.01484 14.2927C7.73146 14.2927 7.49392 14.1968 7.30223 14.0052C7.11053 13.8135 7.01468 13.5759 7.01468 13.2925C7.01468 13.0092 7.11053 12.7716 7.30223 12.5799C7.49392 12.3882 7.73146 12.2924 8.01484 12.2924C8.29822 12.2924 8.53576 12.3882 8.72746 12.5799C8.91915 12.7716 9.015 13.0092 9.015 13.2925C9.015 13.5759 8.91915 13.8135 8.72746 14.0052C8.53576 14.1968 8.29822 14.2927 8.01484 14.2927ZM16.0161 14.2927C15.7327 14.2927 15.4952 14.1968 15.3035 14.0052C15.1118 13.8135 15.016 13.5759 15.016 13.2925C15.016 13.0092 15.1118 12.7716 15.3035 12.5799C15.4952 12.3882 15.7327 12.2924 16.0161 12.2924C16.2995 12.2924 16.537 12.3882 16.7287 12.5799C16.9204 12.7716 17.0163 13.0092 17.0163 13.2925C17.0163 13.5759 16.9204 13.8135 16.7287 14.0052C16.537 14.1968 16.2995 14.2927 16.0161 14.2927ZM12.0155 18.2933C11.7321 18.2933 11.4946 18.1975 11.3029 18.0058C11.1112 17.8141 11.0153 17.5766 11.0153 17.2932C11.0153 17.0098 11.1112 16.7723 11.3029 16.5806C11.4946 16.3889 11.7321 16.293 12.0155 16.293C12.2989 16.293 12.5364 16.3889 12.7281 16.5806C12.9198 16.7723 13.0156 17.0098 13.0156 17.2932C13.0156 17.5766 12.9198 17.8141 12.7281 18.0058C12.5364 18.1975 12.2989 18.2933 12.0155 18.2933ZM8.01484 18.2933C7.73146 18.2933 7.49392 18.1975 7.30223 18.0058C7.11053 17.8141 7.01468 17.5766 7.01468 17.2932C7.01468 17.0098 7.11053 16.7723 7.30223 16.5806C7.49392 16.3889 7.73146 16.293 8.01484 16.293C8.29822 16.293 8.53576 16.3889 8.72746 16.5806C8.91915 16.7723 9.015 17.0098 9.015 17.2932C9.015 17.5766 8.91915 17.8141 8.72746 18.0058C8.53576 18.1975 8.29822 18.2933 8.01484 18.2933ZM16.0161 18.2933C15.7327 18.2933 15.4952 18.1975 15.3035 18.0058C15.1118 17.8141 15.016 17.5766 15.016 17.2932C15.016 17.0098 15.1118 16.7723 15.3035 16.5806C15.4952 16.3889 15.7327 16.293 16.0161 16.293C16.2995 16.293 16.537 16.3889 16.7287 16.5806C16.9204 16.7723 17.0163 17.0098 17.0163 17.2932C17.0163 17.5766 16.9204 17.8141 16.7287 18.0058C16.537 18.1975 16.2995 18.2933 16.0161 18.2933Z' fill='%23474254'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    display: block;
                    width: 24.004px;
                    height: 24.004px;

                }

                .anticon {
                    display: none;
                }
            }

            input {
                color: var(--Black-60, #45464E);
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;

                &::placeholder {
                    color: var(--Black-60, #45464E);
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .custom_date_reportYear {
            width: 140px;
            height: 44.594px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 14.865px;
            flex-shrink: 0;
            border-radius: 23.04px;
            background: #F2F9FF;
            position: relative;

            .ant-picker {
                width: 100%;
                height: 100%;
                border-radius: 23.25px;
                background: #F2F9FF;
                color: var(--Black-60, #45464E);
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;

                .ant-picker-suffix {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 13 8' fill='none'%3E%3Cpath d='M11.3 1.44995L6.4 6.34995L1.5 1.44995' stroke='%23313131' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    display: block;
                    width: 9.8px;
                    height: 4.9px;

                }

                input {
                    cursor: pointer;
                }

                .anticon {
                    display: none;
                }
            }

            input {
                color: var(--Black-60, #45464E);
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &::placeholder {
                    color: var(--Black-60, #45464E);
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .custom_search_bar_report {
            width: 333px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 23.04px;
            background: #F2F9FF;
            display: flex;
            align-items: center;
            padding-left: 25px;

            .search_icon {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M20.949 19.5L17.0886 15.6396M17.0886 15.6396C17.7489 14.9793 18.2727 14.1953 18.6301 13.3326C18.9875 12.4698 19.1714 11.5451 19.1714 10.6112C19.1714 9.67735 18.9875 8.75264 18.6301 7.88987C18.2727 7.0271 17.7489 6.24316 17.0886 5.58283C16.4282 4.92249 15.6443 4.39868 14.7815 4.04131C13.9188 3.68394 12.994 3.5 12.0602 3.5C11.1263 3.5 10.2016 3.68394 9.33884 4.04131C8.47607 4.39868 7.69214 4.92249 7.0318 5.58283C5.69819 6.91644 4.94897 8.7252 4.94897 10.6112C4.94897 12.4972 5.69819 14.306 7.0318 15.6396C8.36541 16.9732 10.1742 17.7224 12.0602 17.7224C13.9462 17.7224 15.755 16.9732 17.0886 15.6396Z' stroke='%23313131' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: block;
                width: 24px;
                height: 24px;
            }

            input {
                width: calc(100% - 20px);
                background-color: transparent;
                height: 100%;
                margin-left: 12px;
                border: none;
                outline: none;
                color: #313131;
                font-family: "Anek Malayalam";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding-right: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 80%;

                &::placeholder {
                    color: #313131;
                    font-family: "Anek Malayalam";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 80%;
                }
            }
        }

        .single_field {
            width: 180px;

            select {
                color: var(--Black-60, #45464E);
                font-family: "Anek Malayalam";
                font-size: 16px !important;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 13 8' fill='none'%3E%3Cpath d='M11.3 1.44995L6.4 6.34995L1.5 1.44995' stroke='%23313131' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
                background-size: 12.8px;
            }
        }
    }

    .table__wrape {
        table {
            thead {
                th {
                    background: #E2EAF0 !important;
                    color: #000 !important;
                    font-family: "Anek Malayalam";
                    font-size: 14px !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: left;
                }
            }

            td {
                padding-left: 26px;
                border-bottom: 1px solid #c3c3c3;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}



.downloadBttn {
    display: flex;
    width: 162px;
    height: 36px;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #0F75BC;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #0F75BC;
    position: absolute;
    top: 17px;
    right: 22px;

    .downIco {

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M11.165 13.9975L6.99937 9.83187L8.16575 8.62384L10.3319 10.79V4H11.9981V10.79L14.1642 8.62384L15.3306 9.83187L11.165 13.9975ZM6.16625 17.33C5.70803 17.33 5.31577 17.1668 4.98946 16.8405C4.66315 16.5142 4.5 16.122 4.5 15.6637V13.1644H6.16625V15.6637H16.1637V13.1644H17.83V15.6637C17.83 16.122 17.6668 16.5142 17.3405 16.8405C17.0142 17.1668 16.622 17.33 16.1637 17.33H6.16625Z' fill='%230F75BC'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 24px;
        height: 24px;
    }
}